/* 
    Created on : Sep 26, 2015, 4:20:47 PM
    Author     : Theriault
*/
body {
    width: 100%;
    height: auto;
    background: none;
}

#container {
    width: 100%;
    height: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgba(250,250,250,.9);
}

#header {
    width: 100%;
    height: 100px;
}

#headLogo img {
    display: inline-block;
    float: left;
    width: 80px;
    height: auto;
    padding: 10px;
}
#headTitle {
    display: inline-table;
    float: left;
    font-family: sans-serif;
    vertical-align: middle;
}