/*  -
    Created on : Sep 26, 2015, 4:20:47 PM
    Author     : Theriault
*/
h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}

body {
    font-family: sans-serif;
    width: 100%;
    height: auto;
    background: none;
}

p {
    font-family: serif;
}

#container {
    width: 100%;
    height: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgba(250,250,250,.9);
}

#header {
    width: 100%;
    height: auto;
}
#headLogo {
    display: inline-block;
    float: left;
    width: 55px;
    height: 55px;
    padding: 5px; 
    margin: 5px;
    background-color: rgba(100,200,255,.2);
}
#headLogo img {
    width: 55px;
    height: 55px;
}
#headerBox {
    display: table;
    width: calc(100% - 90px);
    float: left;
    height: 55px;
    margin: 5px;
    margin-left: 0;
    background-color: rgba(100,200,255,.2);
    padding: 5px;
    position: relative;
}
#headTitle {
    display: table-cell;
    float: right;
    font-family: sans-serif;
    color: green;
    overflow: hidden;
    font-size: 2em;
    position: absolute;
    top: calc(45px - 1em);
    right: 20px;
}
#mainContain {
    position: relative;
    float: left;
    width: 100%;
}

#mainBox {
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgba(200,200,150,.5);
    width: calc(70% - 50px);
    height: 100%;
    float: left;
    padding: 20px;
}
#mainBox2 {
    margin-left: 0;
    margin-right: 5px;
    background-color: lightgreen;
    width: calc(30% - 45px);
    height: 100%;
    float: left;
    padding: 20px;
}

.list0 li {
    line-height: 1.5em;
}

//bar graph
.barGraph {
    border-bottom: 1px solid #FFF;
    position: relative;
    }
    
.barGraph li {
    border: 1px solid #555;
    border-left: none;
    position: relative;
    text-align: left;
    height: 2.4em;
    clear: both;
    list-style-type: none;
    padding: 5px;
    }
    
.barGraph li.bar1 { background-color: #8671FD; }
.barGraph li.bar2 { background-color: #CD65FA; }
.barGraph li.bar3 { background-color: #FA6565; }
.barGraph li.bar4 { background-color: #FAAD65; }
 
.result {
    font-family: "Arial Black", Gadget, sans-serif;
    line-height: 1.5em;
    padding: 20px;
}

.result:nth-of-type(odd) {
    background-color: white;
}